fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.8.2
pydantic-settings==2.4.0
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
redis==5.0.6
boto3==1.34.140
python-json-logger==2.0.7
celery==5.4.0
alembic==1.13.2
pgvector==0.3.2
PyMuPDF==1.24.9
dateparser==1.2.0
requests==2.32.3

# Dev
black==24.8.0
ruff==0.5.1
mypy==1.10.0
pytest==8.2.2
pytest-asyncio==0.23.7


